img {
    animation: fall 3s linear forwards;
    font-size: 2rem;
    height: 32px;
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    width: 32px;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}