* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    /* eggradients.com */
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    /* */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h2, h3 {
    font-family: 'Ubuntu', sans-serif;
}