.start {
    background-color: white;
    border-radius: 12px;
    padding: 1rem;
    width: 80%;
}

.start h2 {
    text-align: center;
}

.start h2,
.start .margin-bottom {
    margin-bottom: 0.75rem;
}

.start ul {
    list-style-type: none;
}

.start li {
    margin: 0.5rem 0 0.5rem 1rem;
}

.start div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start input[type="text"] {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    padding: 0.75rem;
    width: 100%;
}

.start input[type="text"]::-webkit-input-placeholder {
    color: White;
}

.start button {
    background-color: white;
    border: solid 2px black;
    border-radius: 12px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.75rem;
}

.start button:hover {
    background-color: black;
    border: solid 2px white;
    color: white;
    transition: background-color ease-in-out .25s, color ease-in-out .25s;
}

.start.hide {
    display: none;
}

/* MQ TABLET */

@media (min-width: 650px) and (max-width: 992px) {
    .start {
        padding: 1.5rem;
        width: 70%;
    }

    .start h2,
    .start .margin-bottom {
        margin-bottom: 1rem;
    }

    .start li {
        margin: 0.5rem 0 0.5rem 1.5rem;
    }

    .start input[type="text"] {
        width: 70%;
    }
}

/* MQ PC */

@media (min-width: 993px) {
    .start {
        padding: 2rem;
        width: 60%;
    }

    .start li {
        margin: 0.5rem 0 0.5rem 2rem;
    }

    .start input[type="text"] {
        width: 60%;
    }
}