.summary {
    display: none;
}

.summary.show {
    background-color: white;
    border-radius: 12px;
    display: block;
    padding: 1rem;
    width: 80%;
}

.summary.show h2 {
    text-align: center;
}

.summary.show h2,
.summary.show p {
    margin-bottom: 0.75rem;
}

.summary.show #showName {
    font-weight: bold;
}

/* MQ TABLET */

@media (min-width: 650px) and (max-width: 992px) {
    .summary.show {
        padding: 1.5rem;
        width: 70%;
    }

    .summary.show h2,
    .summary.show p {
        margin-bottom: 1rem;
    }
}

/* MQ PC */

@media (min-width: 993px) {
    .summary.show {
        padding: 2rem;
        width: 60%;
    }
}